
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: rgba(4, 4, 4, 0.393);
}

header {
    background-color: blanchedalmond;
    color: blue;
    padding: 1rem;
    text-align: center;
}

h1 {
    margin: 0;
    font-size: 36px;
    color: aqua;
}

main {
    max-width: 800px;
    margin: 0 auto;
    padding: 1rem;
}

section{
    margin-bottom: 2rem;
}

p {
    text-align: center;
}